<h1 style="text-align: center;">Welcome {{uname}}</h1>
<ul class="nav nav-tabs nav-dark ">
    <li class="active">
        <a class="nav-link active" href="home">Home</a>
      </li>
    <li class="nav-item">
      <a class="nav-link " href="allItems">All Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="finditem">Find Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="allCust">All Customer</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="pass">change password</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"   href="home">logout</a>
      </li>
    
  </ul>